
/* topNav html*/
.white-bg {
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}
.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}
.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}
.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}


a.logo {
    font-size: 21px;
    color: #2e2e2e;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}
a.logo span {
    color: #FF6C60;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.notify-row {
    float: left;
    margin-top: 15px;
    margin-left: 92px;
}
.badge.bg-success {
    background: #a9d86e;
}
.badge.bg-important {
    background: #ff6c60;
}
.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}
#top_menu .nav > li, ul.top-menu > li {
    float: left;
}
ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #f0f0f8 !important;
    padding: 2px 6px;
    margin-right: 15px;
}
ul li {
    list-style: none;
}

.top-nav {
    margin-top: 7px;
}
.top-nav ul.top-menu > li {
    margin-left: 10px;
}

.top-nav ul.top-menu > li > a {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px;
    background: none;
    margin-right: 0;
}

.top-nav ul.top-menu > li .dropdown-menu.logout {
    width: 268px !important;
}
.top-nav .dropdown-menu.extended.logout {
    top: 50px;
}
.top-nav li.dropdown .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
}


/*---------*/



/*Sidebar */
#sidebar {
    width: 240px;
    height: 100%;
    position: fixed;
    background: #32323a;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#sidebar ul li {
    position: relative;
}
ul.sidebar-menu li {
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

ul.sidebar-menu {
    padding-top: 80px;
}
ul.sidebar-menu, ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}
ul li {
    list-style: none;
}
ul.sidebar-menu li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;}

.dcjq-icon {
    height: 17px;
    width: 17px;
    display: inline-block;
    background: url(../images/nav-expand.png) no-repeat top;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    right: 10px;
}
ul.sidebar-menu {
    padding-top: 80px;
}
.leftside-navigation, .right-stat-bar {
    height: 100%;
}
.leftside-navigation{
    overflow: hidden;
    outline: none;
}

ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu li ul.sub li {
    background: #28282e;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
ul.sidebar-menu ul.sub li {
    border-bottom: none;
}
.sub li a {
    margin-left: 20px;
    padding-left: 46px;
}
/* ---------------*/

.cuerpo{

    margin-left: 240px;
    background: #e8f5bd;   

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    
}


.site-min-height {
    min-height: 800px;
}
.wrapper {
    display: inline-block;
    margin-top: 80px;
    padding: 15px;
    width: 100%;
}


/* Libross*/
.buscar{
	height: 41px;
}
.buscar div {
	padding: 0;
	height: 100%;
}
.buscar input{
	border: none;
	border-radius: 2px 0 0 2px;
	height: 100%;
}
.buscar button{
    background-color: #007fad;
    border: 1px solid #007fad;
    border-bottom: 1px solid #005f81;
    height: 100%;
    width: 100%;
}
.filtros{
	margin-top: 10px;
	height: 41px;
}
.filtros div{
	height: 100%;
}
.filtros i{
	font-size: 20px;
}	
.filtros button{
	height: 100%;
	width: 100%;
    position: relative;
    text-align: left;
    background-color: #fff;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.25;
    z-index: 0;
}

.current{
    background: #28282e;
    color: #1FB5AD;
    display: block;
}
.current span{color: #1FB5AD;}

/* detalle */
.detalle> h1 {
    text-align: left;
    padding-bottom: 10px;
    font-size: 3.6em;
    font-weight: bold;
    color: #3E3D40;
}

.panel{
    border-radius: 0px;
}
.detalle_img img{
    width: 100%;
    height: 428px;
}
.detalle_reserva div{
    margin-top: 10px;
    border-top: 1px dashed; 
}
.detalle_reserva a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f08804;
    border: none;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
    height: 50px;
    margin: 0px;
     margin-top: 20px;
    border-radius: 4px;
    font-size: 14px;
}

/* -------------*/
.center{
    text-align: center;
}
